.container{
    width: 100%;
    padding: 0% var(--padding-sides);
    box-sizing: border-box;
    margin-top: 2%;
}

.contentContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}