.container{
    width: var(--component-size);
    margin: auto;
    display: flex;
    background-color: var(--absolute-white);
    flex-direction: column;
    padding: 3% 4%;
    margin-bottom: 3%;
    border: 2px solid var(--gray-15);
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 4px 4px 0px 2px var(--gray-10);
    margin-top: 6%;
}

.subContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.brandContainer{

}

.logoContainer{

}

.infoContainer{
    width: 34%;
}

.linksContainer{
    display: flex;
    flex-direction: row;
    width: 60%;
}

.links{
    width: 25%;
}

.linkHeading{
    font-family: Outfit-SemiBold;
    font-size: 18px;
    color: var(--gray-15);
}

.linkText{
    display: block;
    font-family: Outfit-Medium;
    font-size: 16px;
    color: var(--gray-20);
    text-decoration: none;
    margin-bottom: 12%;
}

.mottoText{
    font-family: Outfit-Medium;
    font-size: 16px;
}

.contactInfoSection{

}

.contactInfo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.contactInfoImage{
    margin: auto;
    width: 74%;
}

.contactInfoText{
    margin-left: 2%;
    font-family: Outfit-Medium;
    font-size: 16px;
    color: var(--gray-15);
}

.contactInfoImageContainer{
    width: 30px;
    height: 30px;
    background-color: var(--orange-97);
    border: 2px solid var(--gray-15);
    display: flex;
    border-radius: 6px;
}

.brandLinkSection{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--gray-15);
    border-inline: none;
    overflow: hidden;
}

.policiesSection{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.policyLink{
    text-decoration: none;
    color: var(--gray-20);
    font-family: Outfit-Medium;
    font-size: 16px;
    padding-left: 3%;
    border-left: 2px solid var(--gray-20);
    margin-left: -3%;
}

.socialLinkSection{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.socialLinkButton{
    width: 44px;
    height: 44px;
    background-color: var(--orange-90);
    display: flex;
    border: 3px solid var(--gray-15);
    border-radius: 8px;
    margin-inline: 1%;
    
}
.socialButtonIcon{
    margin: auto;
    width: 60%;
}
.footerNoteSection{
    text-align: center;
    font-family: Outfit-Medium;
    color: var(--gray-40);
}

@media (max-width: 700px) {
    .subContainer{
        flex-direction: column;
    }

    .infoContainer{
        width: 100%;
    }

    .brandContainer{
        width: 100%;
        text-align: center;
    }

    .logoContainer{
        width: 50%;
        margin: auto;
    }

    .linksContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        height: fit-content;
        max-height: 400px;
    }

    .links{
        flex: 1 0 50%;
    }

    .brandLinkSection{
        flex-direction: column;
        justify-content: center;
    }

    .policiesSection{
        width: 100%;
    }

    .socialLinkSection{
        margin-top: 6%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}