.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 86%;
    margin: auto;
    padding: 0% var(--padding-sides);
    background-color: var(--absolute-white);
    border: 2px solid var(--gray-15);
    border-radius: 10px;    
}

.navSection{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    border-collapse: collapse;
    text-align: center;
    line-height: 0;
}


.logoContainer{

}

.contactLinkContainer{
    width: 12%;
    padding: 0% 2%;
    border-left: 2px solid var(--gray-15);
    border-right: 2px solid var(--gray-15);
    border-collapse: collapse;
    text-align: center;
}

.linkContainer{
    display: inline-block;
    width: max-content;
    padding: 0% 2%;
    border-left: 2px solid var(--gray-15);
    border-right: 2px solid var(--gray-15);
    border-collapse: collapse;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}