@import url(../../fonts.css);

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: var(--component-size);
    margin: auto;
    background-color: var(--absolute-white);
    border: 2px solid var(--gray-15);
    border-radius: 10px;    
    box-sizing: border-box;
    overflow: hidden;
    height: 60px;
    margin-top: 1%;
}

.navSection{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    border-collapse: collapse;
    text-align: center;
    line-height: 0;
}


.logoContainer{
    width: auto;
    background-color: var(--orange-65);
    display: flex;
    border-right: 2px solid var(--gray-15);
}

.logo{
    width: 90%;
    margin: auto;
}

.contactLinkContainer{
    width: 12%;
    height: 100%;
    padding: 0% 2%;
    border-left: 2px solid var(--gray-15);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange-75);
}

.linkContainer{
    display: inline-block;
    width: max-content;
    padding: 0% 2%;
    border-left: 2px solid var(--gray-15);
    border-collapse: collapse;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -1px;
}

.link{
    font-family: Outfit-Medium;
    line-height: 1.5em;
    font-size: 14px;
    color: var(--gray-15);
    text-decoration: none;
}

.menuButton{
    width: 26%;
    background-color: var(--orange-95);
    display: flex;
    border-left: 2px solid var(--gray-15);
    display: none;
}


.excessMargin{
    margin-bottom: 280px;
}

.menuBtnImage{
    margin: auto;
    width: 25%;
}

@media (max-width: 700px) {
    .navSection{
        display: none;
        position: absolute;
        flex-direction: column;
        width: 90%;
        height: 20%;
        top: 15%;
        box-sizing: border-box;
        align-items: center;
        border: 2px solid var(--gray-15);
        box-shadow: 4px 4px 0px 2px var(--gray-10);
        border-radius: 12px;
    }

    .linkContainer{
        display: inline-block;
        width: 30%;
        padding: 0% 2%;
        border: none;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid var(--gray-15);
        margin-top: -1px;
    }

    .contactLinkContainer{
        background-color: transparent;
        border: none;
    }

    .link{
        width: 100%;
    }
    .navBarShown{
        display: flex;
    }

    .showHiddenContent{
        display: flex;
    }

    .menuButton{
        display: flex;
    }
}