.container{
    width: 30%;
    background-color: var(--absolute-white);
    border: 2px solid var(--gray-15);
    border-radius: 12px;
    padding: 3% 2%;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 4%;
    box-shadow: 4px 4px 0px 2px var(--gray-10);
}


.imageSection{
    position: absolute;
    top: -12.5%;
}

.imageContainer{
    background-color: var(--orange-90);
    width: 46px;
    height: 46px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--gray-15);
    border-radius: 8px;
}

.image{
    margin: auto;
    width: 60%;
}

.textSection{
    grid-area: 1 / 1 / 16 / 3;
}

.headingText{
    font-family: Raleway-Bold;
    color: var(--gray-10);
}

.descriptionText{
    font-family: Outfit-Medium;
    color: var(--gray-30);
}

.descriptionText{

}

@media (max-width: 700px) {
    .container{
        padding-block: 8%;
        width: 100%;
        margin-bottom: 16%;
    }
}