.container{
    width: var(--component-size);
    margin: auto;
    margin-top: 4%;
    height: 370px;
    box-sizing: border-box;
    background-color: var(--absolute-white);
    border: 2px solid var(--gray-15);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 6%;
    align-items: center;
    position: relative;
    box-shadow: 4px 4px 0px 2px var(--gray-10);
}

.headingContainer{
    width: 40%;
}

.absImageContainer{
    position: absolute;
    left: 0%;
    top: 0%;
}

.absImage{
    width: 60%;
}

.headingText{
    font-family: Raleway-Bold;
    font-size: 44px;
    color: var(--gray-10);
}

.descriptionText{
    font-family: Outfit-Medium;
    font-size: 18px;
}

.textContainer{
    width: 44%;
}

.subContainer{
    width: 20%;
    text-align: center;
}

.text{
    background-color: var(--absolute-white);
    border: 2px solid var(--gray-15);
    padding: 3% 5%;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Outfit-Medium;
    font-size: 14px;
    color: var(--gray-20);
}

@media (max-width: 1100px) {
    .container{
        height: max-content;
        flex-direction: column;
        text-align: center;
    }

    .headingContainer{
        width: 100%;
    }

    .subContainer{
        margin: auto;
        margin-top: 22%;
        width: 30%;
    }

    .textContainer{
        width: 100%;
    }

    .absImageContainer{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
}