.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--absolute-white);
    width: 30%;
    height: 100%;
    border: 3px solid var(--gray-15);
    border-radius: 14px;
    text-align: center;
    padding: 2% 2%;
    box-sizing: border-box;
    box-shadow: 4px 4px 0px 2px var(--gray-10);
}

.infoContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageContainer{
    width: 50px;
    height: 50px;
    padding: 2%;
    background-color: var(--orange-90);
    border: 1px solid var(--gray-15);
    border-radius: 50px;
    display: flex;
}

.authorNameText{
    font-family: Outfit-SemiBold;
    font-size: 20px;
    color: #333333;
}

.starsContainer{
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.reviewText{
    font-family: Outfit-Medium;
    font-size: 16px;
    color: var(--gray-20);
}

.image{
    margin: auto;
    width: 88%;
}

@media (max-width: 700px) {
    .container{
        width: 100%;
    }
}