.container{
    width: 100%;
    padding: 0% var(--padding-sides);
    box-sizing: border-box;
    margin-top: 3%;
}

.contentContainer{
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;
    height: fit-content;
}