.container{
    width: 100%;
    padding: 0% var(--padding-sides);
    box-sizing: border-box;
    margin-top: 3%;
}

.contentContainer{
    margin-top: 4%; 
    display: flex;
    flex-direction: row;
    flex-basis: auto; 
    justify-content: space-between;
    height: fit-content;
}

.portion {
    width: 49%;
    display: flex;
    flex-direction: column;
    flex-basis: auto; 
    justify-content: space-between;
    height: fit-content;
}