
.container{
    width: 100%;
    padding: 0% var(--padding-sides);
    box-sizing: border-box;
    display: flex;
}

.textSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.statsSection{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}