
.container{
    margin-top: 3%;
    width: 100%;
    padding: 0% var(--padding-sides);
    box-sizing: border-box;
    display: flex;
    height: fit-content;
    justify-content: space-between;
}

.imageSection{
    width: 42%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--orange-80);
}

.imageContainer{
    margin: auto;
    height: 98%;
    width: 98%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 3px solid var(--gray-15);
    padding: -16px;
    box-sizing: content-box;
    position: relative;
}

.imageContainer::before{
    right: -2%;
    top: -2%;
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    color: white;
    background-color: var(--absolute-white);
    border: 2px solid var(--gray-15);
    border-radius: 50px;
}

.imageContainer::after{
    top: -2%;
    left: -2%;
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    color: white;
    background-color: var(--absolute-white);
    border: 2px solid var(--gray-15);
    border-radius: 50px;
}

.image{
    display: inline-block;
    width: 100%;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    background-size: contain;
}

.subText{
    width: fit-content;
    font-family: Outfit-Medium;
    font-size: 18px;
    color: var(--gray-15);
    line-height: 28px;
    border-bottom: 2px solid var(--gray-15);
}

.headingText{
    font-family: Raleway-ExtraBold;
    font-size: 48px;
    color: var(--gray-15);
}

.coloredText{
    color: var(--orange-65);
}

.descriptionText{
    font-family: Outfit-Medium;
    font-size: 18px;
    color: var(--gray-15);
}

.descriptionText{

}

.textSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}


.markerContainer{
    position: absolute;
    width: 100%;
    bottom: 2%;
}

.markerContainer::before{
    right: -2%;
    top: -2%;
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    color: white;
    background-color: var(--absolute-white);
    border: 2px solid var(--gray-15);
    border-radius: 50px;
}

.markerContainer::after{
    top: -2%;
    left: -2%;
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    color: white;
    background-color: var(--absolute-white);
    border: 2px solid var(--gray-15);
    border-radius: 50px;
}

.statsSection{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--orange-95);
    border: 2px solid var(--gray-15);
    border-radius: 12px;
    box-shadow: 4px 4px 0px 2px var(--orange-75);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.statContainer{
    width: 30%;
}

.statFigure{
    font-family: Outfit-ExtraBold;
    font-size: 40px;
    color: var(--gray-15);
    margin: 0%;
}

.statText{
    margin: 0%;
    margin-block: 6%;
    font-family: Outfit-Medium;
    font-size: 16px;
    color: var(--gray-15);
}

.abstractImageContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
}

.topAndBottomBorder{

}

.abstractImage{
    width: 68%;
    margin: auto;
}

@media (max-width: 700px) {
    .container{
        flex-direction: column;
    }

    .imageSection{
        width: 100%;
    }

    .textSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    .statsSection{
        flex-direction: column;
    }

    .topAndBottomBorder{
        width: 80%;
        border-top: 2px solid var(--gray-15);
        border-bottom: 2px solid var(--gray-15);
    }

    .subText{
        margin: auto;
        margin-top: 10%;
    }
}