.container{
    width: 100%;
    padding: 0% var(--padding-sides);
    box-sizing: border-box;
    height: 540px;
    margin-top: 4%;
}

.headerSection{
    height: 18%;
}

.subContainer{
    height: 70%;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contentContainer{
    height: 86%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: scroll;
}

.cardsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    width: 2000px;
}

.buttonContainer{
    width: 10%;
}

.buttonContainerLast{
    width: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@media (max-width: 700px) {

    .subContainer{
        margin-top: 16%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contentContainer{
        width: fit-content;
    }

    .buttonContainer{
        order: 5;
        align-self: center;
        width: 20%;
        margin-top: 4%;
    }
    
    .buttonContainerLast{
        order: 5;
        width: 10%;
        align-self: center;
        margin-top: 4%;
    }
}