.container{
    width: 100%;
    padding: 0% var(--padding-sides);
    box-sizing: border-box;
    height: 540px;
    margin-top: 4%;
}

.headerSection{
    height: 18%;
}

.subContainer{
    height: 70%;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contentContainer{
    height: 86%;
    width: 78%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: scroll;
}

.buttonContainer{
    width: 10%;
}

.buttonContainerLast{
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}