:root {
  color-scheme: light dark;
  color: rgba(58, 55, 55, 0.87);
  background-color: var(--orange-97);
  --component-size: 90%;
  --padding-sides: 8%;
  --absolute-white: #FFFFFF;
  --absolute-black: #000000;
  --orange-65: #FF8D4D;
  --orange-70: #FF9E66;
  --orange-75: #FFAE80;
  --orange-80: #FFBE99;
  --orange-90: #FFDECC;
  --orange-95: #FFEFE5;
  --orange-97: #FFF5F0;
  --orange-99: #FFFCFA;
  --gray-10: #1A1A1A;
  --gray-15: #262626;
  --gray-20: #333333;
  --gray-30: #4C4C4D;
  --gray-35: #59595A;
  --gray-40: #656567;
  --gray-60: #98989A;
  --gray-70: #B3B3B3;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}